backend/venv/
backend/.pytest_cache/
backend/__pycache__/
backend/*.db
backend/.env
.env
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
backend/venv/
backend/.pytest_cache/
backend/__pycache__/
backend/*.db
backend/.env
.env
